.container {
    display: flex;
}

.trainer {
    width: 30%;
    border-style: solid;
    margin: 10px;
    padding: 10px;
}

.trainerInfo ul {
    list-style-type: none;

    padding: 0;
    margin: 0;
}

.trainerInfo h2 {
    margin: 0;
}

.pokemon {
    margin-top: 10px;
}

.pokemon ul {
    list-style-type: none;

    padding: 0;
    margin: 0;
}

.pokemon h3 {
    margin: 0;
}

.moves {
    display: flex;
    margin-top: 10px;
}

.move {
    margin-right: 25px;
}