body {
    text-align: center;
}

.container {
    display: flex;
    text-align: left;
}

.trainer {
    flex: 1;
    border-style: solid;
    margin: 10px;
    padding: 10px;
    overflow-y: auto;
    max-height: 80vh;
}

.trainerInfo ul {
    list-style-type: none;

    padding: 0;
    margin: 0;
}

.trainerInfo h2 {
    margin: 0;
}

.pokemon {
    margin-top: 10px;
}

.pokemon ul {
    list-style-type: none;

    padding: 0;
    margin: 0;
}

.pokemon h3 {
    margin: 0;
}

.moves {
    display: flex;
    margin-top: 10px;
}

.move {
    margin-right: 25px;
}

.outputBox {
    flex: 1;
    border-style: solid;
    margin: 10px;
    padding: 10px;
    overflow-y: auto;
    max-height: 80vh;
}

.outputBox ul {
    list-style-type: none;

    padding: 0;
    margin: 0;
}